@import '../../node_modules/suprematism-style-guide/dist/utils/z-indexes';
@import '../../node_modules/suprematism-style-guide/dist/utils/colors';

.CardNavbar {
  display: block;
  font-family: Verdana;
  width: 100%;
  z-index: $z-index-navbar;
}
.CardNavbar-navbar {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: $purple;
}
.CardNavbar-title {
  margin-left: 20px;
  margin-right: 120px;
  width: 55px;
}
.CardNavbar-cards {
  position: relative;
  z-index: $z-index-navbar;
}
