.CardNavbar {
  display: block;
  font-family: Verdana;
  width: 100%; }

.CardNavbar-navbar {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #0089d0; }

.CardNavbar-title {
  margin-left: 85px;
  height: 16px;
  width: 155px; }

.GiraffeLogo {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 75px;
  height: 60px;
  z-index: 999; }
