<supre-card-navbar [supreSelectedTab]="selectedTab" [supreSelectedCard]="selectedCard">
  <supre-card-navbar-logo><img src="/assets/images/the-G-raph.svg"></supre-card-navbar-logo>
  <supre-card-navbar-menu-item supreTabId="segments" supreRouterLink='segments/create'>Segments</supre-card-navbar-menu-item>
  <supre-card-navbar-cards supreForTab="segments">
    <supre-card-navbar-card supreForTab="segments" supreCardId="create" supreRouterLink [supreDefaultCardForTab]="true">
      <supre-card-navbar-card-title>Create</supre-card-navbar-card-title>
      <supre-card-navbar-card-icon><div class="icon ion-android-add-circle"></div></supre-card-navbar-card-icon>
    </supre-card-navbar-card>
    <supre-card-navbar-card supreForTab="segments" supreCardId="library" supreRouterLink>
      <supre-card-navbar-card-title>Library</supre-card-navbar-card-title>
      <supre-card-navbar-card-icon><div class="icon ion-ios-list-outline"></div></supre-card-navbar-card-icon>
    </supre-card-navbar-card>
    <supre-card-navbar-card supreForTab="segments" supreCardId="compare" supreRouterLink>
      <supre-card-navbar-card-title>Compare</supre-card-navbar-card-title>
      <supre-card-navbar-card-icon><div class="icon ion-ios-color-filter-outline"></div></supre-card-navbar-card-icon>
    </supre-card-navbar-card>
    <supre-card-navbar-card supreForTab="segments" supreCardId="forecast" supreRouterLink>
      <supre-card-navbar-card-title>Forecast</supre-card-navbar-card-title>
      <supre-card-navbar-card-icon><div class="icon ion-ios-glasses-outline"></div></supre-card-navbar-card-icon>
    </supre-card-navbar-card>
  </supre-card-navbar-cards>
  <supre-card-navbar-menu-item supreTabId="campaigns" supreRouterLink='campaigns/option'>Campaigns</supre-card-navbar-menu-item>
  <supre-card-navbar-cards supreForTab="campaigns">
    <supre-card-navbar-card supreForTab="campaigns" supreCardId="option" supreRouterLink [supreDefaultCardForTab]="true">
      <supre-card-navbar-card-title>Option</supre-card-navbar-card-title>
      <supre-card-navbar-card-icon><div class="icon ion-record"></div></supre-card-navbar-card-icon>
    </supre-card-navbar-card>
    <supre-card-navbar-card supreForTab="campaigns" supreCardId="another" supreRouterLink>
      <supre-card-navbar-card-title>Another</supre-card-navbar-card-title>
      <supre-card-navbar-card-icon><div class="icon ion-record"></div></supre-card-navbar-card-icon>
    </supre-card-navbar-card>
    <supre-card-navbar-card supreForTab="campaigns" supreCardId="last" supreRouterLink>
      <supre-card-navbar-card-title>Last</supre-card-navbar-card-title>
      <supre-card-navbar-card-icon><div class="icon ion-record"></div></supre-card-navbar-card-icon>
    </supre-card-navbar-card>
  </supre-card-navbar-cards>
  <supre-card-navbar-menu-item supreTabId="inventory" supreRouterLink='inventory/choice'>Inventory</supre-card-navbar-menu-item>
  <supre-card-navbar-cards supreForTab="inventory">
    <supre-card-navbar-card supreForTab="inventory" supreCardId="choice" supreRouterLink [supreDefaultCardForTab]="true">
      <supre-card-navbar-card-title>Choice</supre-card-navbar-card-title>
      <supre-card-navbar-card-icon><div class="icon ion-record"></div></supre-card-navbar-card-icon>
    </supre-card-navbar-card>
  </supre-card-navbar-cards>
  <supre-card-navbar-menu-item supreTabId="user" supreRouterLink="user/settings">Mary Popins</supre-card-navbar-menu-item>
  <supre-card-navbar-cards supreForTab="user">
    <supre-card-navbar-card supreForTab="user" supreCardId="logout" supreRouterLink>
      <supre-card-navbar-card-title>Log Out</supre-card-navbar-card-title>
      <supre-card-navbar-card-icon><div class="icon ion-log-out"></div></supre-card-navbar-card-icon>
    </supre-card-navbar-card>
    <supre-card-navbar-card supreForTab="user" supreCardId="settings" supreRouterLink [supreDefaultCardForTab]="true">
      <supre-card-navbar-card-title>Settings</supre-card-navbar-card-title>
      <supre-card-navbar-card-icon><div class="icon ion-ios-gear"></div></supre-card-navbar-card-icon>
    </supre-card-navbar-card>
    <supre-card-navbar-custom-card style="width: 100%">
      <supre-dropdown-image supreDefault="Ford Motor Company" (itemSelected)="accountChanged($event)"
        [supreItems]="[
          { name: 'Applebees', image: '//upload.wikimedia.org/wikipedia/en/b/bc/Applebee%27s.svg' },
          { name: 'Barclays Bank', image: '//upload.wikimedia.org/wikipedia/en/7/7e/Barclays_logo.svg' },
          { name: 'Ford Motor Company', image: '//upload.wikimedia.org/wikipedia/commons/a/a0/Ford_Motor_Company_Logo.svg' },
          { name: 'Toyota Inc', image: '//upload.wikimedia.org/wikipedia/commons/9/9d/Toyota_carlogo.svg' }
        ]"
      ></supre-dropdown-image>
    </supre-card-navbar-custom-card>
  </supre-card-navbar-cards>
</supre-card-navbar>
<router-outlet></router-outlet>
