<a [routerLink]="routerLink" class="CardNavbar-topMenuItemContainer">
  <div
    (mousedown)="rawStateSource.next('preSelected')"
    (mouseup)="rawStateSource.next('selected')"
    (mouseenter)="rawStateSource.next('active')"
    (mouseleave)="!isInCards($event) && rawStateSource.next('notActive')"
    class="CardNavbar-topMenuItem"
    [ngClass] = "['is-' + (state$ | async), tabId === 'user' ? 'CardNavbar-userMenuItem' : '']"
  >
    <ng-content></ng-content>
    <span *ngIf="tabId === 'user'" class="icon-usericon CardNavbar-userMenuIcon"></span>
  </div>
</a>
