<div class="CardNavbar-topMenuItemContainer">
  <div
    (mousedown)="statusSource.next('preSelected');"
    (mouseup)="statusSource.next('selected');"
    (mouseenter)="statusSource.next('active');"
    (mouseleave)="!isInCards($event) && this.statusSource.next('notActive');"
    class="CardNavbar-topMenuItem"
    [ngClass] = "['is-' + (state$ | async), tabId === 'user' ? 'CardNavbar-userMenuItem' : '']"
  >
    <ng-content></ng-content>
    <span *ngIf="tabId === 'user'" class="icon-usericon CardNavbar-userMenuIcon"></span>
  </div>
</div>
