@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.ttf?n4kk4c") format("truetype"), url("../fonts/icomoon.woff?n4kk4c") format("woff"), url("../fonts/icomoon.svg?n4kk4c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-g-raph-type:before {
  content: ""; }

.icon-usericon:before {
  content: ""; }

a {
  color: inherit;
  text-decoration: none; }

:host {
  height: 100%; }

:host[supretabid="user"] {
  margin-left: auto; }

.CardNavbar-topMenuItem {
  cursor: pointer;
  display: flex;
  justify-content: center; }

.CardNavbar-topMenuItemContainer {
  margin-left: 90px;
  height: 100%; }

.CardNavbar-topMenuItem {
  font-weight: 600;
  font-size: 10px;
  font-family: Verdana;
  text-transform: uppercase;
  color: white;
  height: 100%;
  min-width: 100px;
  display: flex;
  align-items: center; }

.CardNavbar-topMenuItem.is-selected {
  color: #0089d0;
  background-color: #e6e6e6; }

.CardNavbar-topMenuItem.is-active {
  color: #0089d0;
  background-color: white; }

.CardNavbar-userMenuItem {
  font-size: 11px;
  width: auto;
  justify-content: flex-end; }

.CardNavbar-userMenuItem.is-selected,
.CardNavbar-userMenuItem.is-active {
  width: 300px; }

.CardNavbar-userMenuIcon {
  margin-right: 20px;
  margin-left: 10px;
  font-size: 24px;
  font-family: icomoon;
  line-height: inherit; }

@media (max-width: 980px) {
  .CardNavbar-topMenuItemContainer {
    margin-left: 50px; } }
