$blue: rgba(0, 137, 208, 1);
$blue-transparent: rgba(0, 137, 208, .3);
$gray: #999999;

a {
  color: inherit;
  text-decoration: none;
}

.CardNavbar-card {
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100px;
  width: 100px;
  border: 2px dotted $gray;
  border-radius: 12px;
  cursor: pointer;
}
.CardNavbar-card.is-active {
  border: 2px solid $blue;
}
.CardNavbar-card.is-preSelected {
  border: 2px solid $blue;
  background-color: $blue-transparent;
}
.CardNavbar-card.is-selected {
  border: 2px solid $blue;
  background-color: $blue;
}
.CardNavbar-cardTitle {
  margin-top: 22px;
  font-size: 10px;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  color: $gray;
  font-weight: 600;
  display: block;
}
.CardNavbar-cardIcon {
  font-size: 40px;
  text-align: center;
  color: $gray;
}
.CardNavbar-cardTitle,
.CardNavbar-cardIcon {
  pointer-events: none;
}
.CardNavbar-card.is-active .CardNavbar-cardIcon,
.CardNavbar-card.is-active .CardNavbar-cardTitle,
.CardNavbar-card.is-preSelected .CardNavbar-cardIcon,
.CardNavbar-card.is-preSelected .CardNavbar-cardTitle {
  color: $blue;
}
.CardNavbar-card.is-selected .CardNavbar-cardIcon,
.CardNavbar-card.is-selected .CardNavbar-cardTitle {
  color: white;
}
