/**
 * Design Reference:
 * https://cacoo.com/diagrams/88x93Ppap4rtGUhs#5F65C
 */
/**
 * Collection of the colors
 */
a {
  color: inherit;
  text-decoration: none; }

.CardNavbar-card {
  display: inline-block;
  background-color: white;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100px;
  width: 100px;
  border: 2px dotted #cccccc;
  border-radius: 12px;
  cursor: pointer; }

.CardNavbar-card.is-active {
  border: 2px solid #6460aa; }

.CardNavbar-card.is-preSelected {
  border: 2px solid #6460aa;
  background-color: rgba(100, 96, 170, 0.3); }

.CardNavbar-card.is-selected {
  border: 2px solid #6460aa;
  background-color: #6460aa; }

.CardNavbar-cardTitle {
  margin-top: 22px;
  font-size: 10px;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #cccccc;
  font-weight: 600;
  display: block;
  line-height: 1em; }

.CardNavbar-cardIcon {
  font-size: 36px;
  text-align: center;
  color: #cccccc;
  line-height: 1em; }

.CardNavbar-cardTitle,
.CardNavbar-cardIcon {
  pointer-events: none; }

.CardNavbar-card.is-active .CardNavbar-cardIcon,
.CardNavbar-card.is-active .CardNavbar-cardTitle,
.CardNavbar-card.is-preSelected .CardNavbar-cardIcon,
.CardNavbar-card.is-preSelected .CardNavbar-cardTitle {
  color: #6460aa; }

.CardNavbar-card.is-selected .CardNavbar-cardIcon,
.CardNavbar-card.is-selected .CardNavbar-cardTitle {
  color: white; }
